/* RESET CSS */

*{
    margin:0;
    padding:0;  
    box-sizing: border-box;
}

body{
    background-color: #141922;
    color: #dedede;
    margin: 110px 10px;
    font-family: 'Open Sans', sans-serif;
}

/* GENERAL */

.flex{
    display:flex;
}

.no-item{
    list-style-type: none;
}


/* .wrap{
flex-wrap: wrap;
} */

footer{
    height: 100px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom:0;
    right: 0;
    z-index: 3;
}

/* HEADER */


header{
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, .4);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 0;
    
}

.head-button{
    padding: 10px 15px;
    color: #fff;
    border: 2px solid #fff; 
    text-decoration: none;
    border-radius: 25%;
    position: absolute;
    right:0;
    top:30%

}

/* NAV */
nav{
    height: 100%;
    width: 180px;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

}

.col.dimension-nav{
    width: 190px;
    
}

.col-content{
    width:calc(100% - 180px);
    padding:0 10px
}

/* MAIN */

main{
    height:calc(100vh - 220px);
    overflow-y: auto;
    width: calc(100vw - 10px);
    margin-right: 150px;
 
}

.container{
    width: 100%;
    margin:0 auto;
    border: 2px dashed darkred;

}

 main.row-main{
    width: 100%;
    border: 2px dashed purple;
}

.col-main{
    width: calc(100% / 6);
    border: 2px dashed gold;
    min-height: 50px;
    padding: 10px;
}

.row-main .card{
    width: 100%;
    min-height: 50px;
    border: 2px dashed green;
}



/* FOOTER */




/* MEDIA QUERY */

@media screen and (max-width : 768px){
    
    .row-main.flex{
        flex-wrap: wrap;
     
    }

    .col-main{
        width:25% ;
    }
    }



    @media screen and (max-width : 500px){

    
        .col-main{
            width:50%;
        }



    }